* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

h1 {
    margin-top: 0;
    text-align: center;
    margin-bottom: 100px;
}
button {
    cursor: pointer;
    background: rgba(255,255,255,0.8);
    border: 1px solid #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
}
#hex-value{
    padding: 10px 20px;
    border: 1px solid #fff;
    font-family: 'Raleway', sans-serif;
    border-radius: 5px;
    margin-right: 10px;
}
.container{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}
#main-container {
    height: 100vh;
    background-color: rgb(46,100,150);
}
#wrap{
    width: 50vh;
    padding: 50px;
    border-radius: 5px;
    background: rgba(255,255,255,0.8);
    margin-top: 10vh;
}
.output-wrapper{
    display: flex;
    flex-flow: column;
    margin-top: 50px;
    align-items: center;
}
.result{
    width: 200px;
    margin-bottom: 20px;
}
#color-feedback {
    width: 200px;
    height: 100px;
    border: 1px solid #000;
    background-color: rgb(46,100,150);
    border-radius: 5px;
}

.nojs {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    text-align: center;
    padding: 50px;
    font-size: 1.5em;
    color: red;
    display: none;
}

html.no-js .nojs {
    display: initial;
}