* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

h1 {
    margin-top: 0;
    text-align: center;
    margin-bottom: 50px;
}
button {
    cursor: pointer;
    background: rgba(255,255,255,0.8);
    border: 1px solid #fff;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
}
.github{
    position: absolute;
    right: 0;
    top: 0;
}
#hex-value{
    padding: 10px 20px;
    border: 1px solid #fff;
    font-family: 'Raleway', sans-serif;
    border-radius: 5px;
    margin-right: 10px;
    width: 70%;
    margin-top: 10px;
}
.container{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}
#main-container {
    height: 100%;
    min-height: 100vh;
    background-color: rgb(46,100,150);
    padding-bottom: 10vh;
    padding-top: 10vh;
}
#wrap{
    width: 600px;
    max-width: 95%;
    padding: 50px;
    border-radius: 5px;
    background: rgba(255,255,255,0.8);
}
.title{
    text-align: center;
}
.warn {
    font-size: 12px;
    text-align: center;
    color: #f44262;
}
.input-wrapper{
    display: flex;
    flex-flow: column;
    align-items: center;
}
.output-wrapper{
    display: flex;
    flex-flow: column;
    margin-top: 30px;
    align-items: center;
}
.result-wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}
#result, .btn-copy{
    margin: 0;
    position: relative;
}
.btn-copy::after{
    content: 'Copied !';
    display: block;
    background: rgb(51, 51, 51);
    padding: 15px;
    position: absolute;
    color: #FFF;
    border-radius: 5px;
    font-size: 10px;
    left: -1px;
    top: -1px;
    right: -1px;
    bottom: -1px;
    opacity: 0;
    transition: 1s ease-in-out;
}
.btn-copy.active::after{
    opacity: 1;
    transition: 0.2s ease-in-out;
}
.input-form{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
#color-feedback {
    width: 200px;
    height: 100px;
    border: 1px solid #000;
    background-color: rgb(46,100,150);
    border-radius: 5px;
}

.nojs {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    text-align: center;
    padding: 50px;
    font-size: 1.5em;
    color: red;
    display: none;
}
#tip {
    margin-top: 30px;
    padding: 10px;
    width: 600px;
    max-width: 95%;
    border-radius: 5px;
    background: rgba(255,255,255,0.8);
    text-align: center;
}

html.no-js .nojs {
    display: initial;
}

@media (max-width: 459px) {
    .input-form{
        justify-content: center;
    }
    #hex-value, button {
        width: 100%;
    }
    #hex-value {
        margin-right: 0;
    }
    .btn-copy{
        margin-top: 10px;
    }
}